body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #000000;
  background-color: #f6f6f6;
}

header {
  color: #000000;
  background-color: #000000;
  height: 60px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-top: -7px;
  border-radius: 5px;
}

nav {
  float: left;
  margin-left: 30px;
}

a {
  color: #FFFFFF;
  text-decoration:none;
}

h3 a:hover{
  color: #87bff2;
}

h3 a{
  padding: 15px;
}

.div-left{
  float: right;
}

.div-right {
  color: #FFFFFF;
  float: right;
}

#main {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: auto;
  margin-right: auto;
}

#main li {
  cursor: pointer;
}

.drop {
  display: block;
  overflow: hidden;
  list-style: none;
  clear: both;
  margin-right: 40px;
}

.drop div {
  width: 100px;
  position: relative;
  transform: translate(0, -100%);
  transition: all 0.5s 0.1s;
}

.drop div li {
  padding: 0;
  width: 100%;
  background: #000000 !important;
}

#main li:hover ul div {
  transform: translate(0, 0);
}

li a {
  padding: 10px;
  font-size: 15px;
}

footer{
  background-color: #FFFFFF;
  height: 40px;
  width: 100%;
}

.copyright {
  width: 100%;
  height: 30px;
  text-align: center;
}

.footer-a {
  color: #000000;
}

.main-bottom {
  width: 100%;
}

.content {
  width: 100%;
  background: #CECBC3;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-title {
  margin: auto;
  width: 100%;
  background: #B6BBC0;
  border-radius: 5px;
  font-size: 20px;
}

.search-line {
  width: 100%;
  margin: auto;
  border-radius: 5px;
  font-size: 20px;
}

.p-info {
  text-align: center;
  color: #FF0000;
}

.filter {
  width: 80%;
  background: #DBE1DA;
  margin: 0px 10%;
  border-radius: 5px;
}

.filter-show {
  width: 100%;
  font-size: 25px;
  overflow: hidden;
}

.list-show {
  width: 100%;
  margin-bottom: 40px;
  font-size: 25px;
}

.list-image {
  float: left;
  margin: 30px 0% 0px 10%;
  width: 35%;
}

.list-details {
  float: right;
  margin: 0px 10% 0px 0px;
  width: 40%;
}

.list-name {
  font-size: 25px;
}

.description {
  width: 100%;
  float: left;
}

.list-info {
  width: 80%;
  margin: 10px 10%;
  font-size: 17px;
}

.pages {
  width: 96%;
  text-align: center;
}

.page {
  color: #2E7BAD;
}

.modify {
  width: 100%;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
}

.title-name {
  text-align: center;
}
